<h1>Welcome to Meadowlark Travel XXX</h1>

<h2>form submission example</h2>
{{! /submit 回傳網址 }}
<form action="/submit" method="post">
  <label for="name">Name:</label>
  {{! required 使input為空按下submit時 出現popup}}
  <input type="text" name="InputNameName" required />
  <button type="submit">Submit</button>
</form>